
header{
    position: relative;
}

nav{
    position: fixed;
    width: 100%;
    height: 51px;
    background-color: #212121;
    z-index: 1;
}

.menu{
    display: flex;

    justify-content: space-between;
    padding:13px 70px;
    margin: 0;
    list-style: none;
}

.menu .menu_link{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}

.menu .menu_item{
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader{
    margin-top: 51px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}

.subheader .subheader_logo{
    display: block;
    margin-top: 16px;
    max-width: 100%;
}

.subheader .subheader_official{
    margin-top: 6px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.5);
}

.subheader .subheader_call{
    margin-top: 19px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    color: #ffffff;
}

.subheader .subheader_phone{
    display: block;
    margin-top: 8px;
    font-family: Roboto;
    font-size: 22px;
    text-align: right;
    color: #ffffff;
    line-height: 12px;
}

.subheader .subheader_btn{
    width: 172px;
    height: 46px;
    margin-top: 19px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.promo{
    min-height: 800px;
    background: url('../img/start_bg.jpg') center center/cover no-repeat ;
    padding: 150px 0 135px 0;
}

.promo .promo_header{
    font-family: Roboto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
    margin-top: 151px;
}

.promo .promo_subheader{
    font-family: Roboto;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0;
    margin-top: 17px;
}
.promo .promo_descr{
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-top: 23px;
}

.promo .promo_btn{
    display: block;
    width: 259px;
    height: 63px;
    box-shadow: inset 0px 0px 0 0 rgba(0, 0, 0, 0.12);
    border:none;
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 118px;
    border-radius: 5px;
}

.work{
    min-height: 900px;
    padding: 71px 0 65px 0;
}

.work .work_btn{
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    border: none;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.work .work_header{
    margin-top: 38px;
    font-family: Roboto;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    color: #222222;
    text-transform: uppercase;
}

.work_block{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.work .work_block .work_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    margin-right: 26px;
}

.work .work_block .work_text{
    width: 341px;
   
}

.work .work_block .work_text span{
    font-family: Roboto;
    font-size: 17px;
    font-weight: normal;
    color: #1eacc7;
    line-height: 1.4;
}

.work .work_block .work_text{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: justify;
    color: #202020;
}